<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night</title>
</head>

<body>
    <nav>
        <h1>NIGHT</h1>
    </nav>
    <header>
        <h1>Carros de noite</h1>
        <img src="" alt="">
    </header>
    <main>
        <form action="{{url_for('gallery')}}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Enviar</button>
        </form>
        <section>
            <div>
                <img src="" alt="">
            </div>
        </section>
    </main>
</body>

</html>