<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Night Runners</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/assets/img/logo.png">
</head>

<body>
    <nav>
        <div class="title-container"> 
            <h1 class="logo bitcount-grid-single">Shutoko-Tokyo</h1>
        </div>
    </nav>
    <header>
        <h1 class="tittle-header bbh-sans-bartle-regular">night runners</h1>
        <p class="sub-tittle-header bbh-sans-bartle-regular">Dedicated to tuned cars.</p>
    </header>
    <main>
        <form class="form-container" action="{#{url_for('gallery')}#}" method="post" enctype="multipart/form-data">
            <input class="input-form" type="file" name="file" required>
            <button class="btn-form" type="submit">Enviar</button>
        </form>
        <section class="img-feed-section">
            {% for img in photos %}
            <div class="img-feed-container">
                <img class="img-feed" src="/static/uploads/{{img.filename}}" alt="">
            </div>
            {% endfor %}
        </section>
    </main>
</body>
<script src="/static/js/"></script>

</html>